@model List<mvcGrid.Models.GridModel>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table>
    <tr>
        <td>Emp Name</td>
        <td>First Name</td>
        <td>Middle Name</td>
        <td>Last Name</td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.EmpId</td>
            <td>@item.EmpFirstName</td>
            <td>@item.EmpMiddleName</td>
            <td>@item.EmpLastName</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { item.EmpId })
            </td>          
            <td>
                @Html.ActionLink("Delete", "Delete", new { item.EmpId })
            </td>
        </tr>
    }
</table>